{
	"extends": "eslint:recommended",
	"parser": "vue-eslint-parser",
	"env": {
		"node": true,
		"commonjs": true
	},
	"parserOptions": {
		"semi": ["always"],
		"ecmaVersion": 8,
		"sourceType": "module",
		"jsx": false
	}
}
